Client/Projekt_2/Connected Services/Server_Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Deposit_Money_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit_Money" />
  </wsdl:message>
  <wsdl:message name="IService1_Deposit_Money_OutputMessage">
    <wsdl:part name="parameters" element="tns:Deposit_MoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Money_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Money" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Money_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_MoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Change_Password_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_Password" />
  </wsdl:message>
  <wsdl:message name="IService1_Change_Password_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ban_Player_InputMessage">
    <wsdl:part name="parameters" element="tns:Ban_Player" />
  </wsdl:message>
  <wsdl:message name="IService1_Ban_Player_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ban_PlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Player_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Player" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Player_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersBy" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayersBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersByResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayers" message="tns:IService1_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayersResponse" message="tns:IService1_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayer" message="tns:IService1_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayerResponse" message="tns:IService1_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit_Money">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Deposit_Money" message="tns:IService1_Deposit_Money_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Deposit_MoneyResponse" message="tns:IService1_Deposit_Money_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Money">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_Money" message="tns:IService1_Update_Money_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_MoneyResponse" message="tns:IService1_Update_Money_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_Password">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Change_Password" message="tns:IService1_Change_Password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Change_PasswordResponse" message="tns:IService1_Change_Password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ban_Player">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ban_Player" message="tns:IService1_Ban_Player_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ban_PlayerResponse" message="tns:IService1_Ban_Player_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Player">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Player" message="tns:IService1_Delete_Player_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_PlayerResponse" message="tns:IService1_Delete_Player_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayersBy" message="tns:IService1_GetPlayersBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayersByResponse" message="tns:IService1_GetPlayersBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit_Money">
      <soap:operation soapAction="http://tempuri.org/IService1/Deposit_Money" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Money">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_Money" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Password">
      <soap:operation soapAction="http://tempuri.org/IService1/Change_Password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ban_Player">
      <soap:operation soapAction="http://tempuri.org/IService1/Ban_Player" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Player">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Player" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersBy">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayersBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>